Description=ROSCar Nano Process Control Service

[Service]
Environment="ROS_IP=192.168.0.108"

ExecStart=/bin/bash -c "/home/jetson/ros_ws/src/ros_utilities/roscar_nano.startup"

ExecReload=/bin/bash -c "/home/jetson/ros_ws/src/ros_utilities/roscar_nano.shutdown;/home/jetson/ros_ws/src/ros_utilitles/roscar_nano.startup"

Restart=always
ExecStop=/bin/bash -c "/home/jetson/ros_ws/src/ros_utilities/roscar_nano.shutdown"

[Install]
WantedBy=multi-user.target